<%= form_for(@namespace) do |f| %>
  <% if @namespace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@namespace.errors.count, "error") %> prohibited this namespace from being saved:</h2>

      <ul>
      <% @namespace.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.select :section_id, Cms::Section.order(:name).collect { |s| [s.name, s.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
