<h1>Listing namespaces</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @namespaces.each do |namespace| %>
  <tr>
    <td><%= namespace.name %></td>
    <td><%= "#{namespace.section.name} (#{namespace.section.path})" %></td>
    <td><%= link_to 'Show', namespace %></td>
    <td><%= link_to 'Edit', edit_namespace_path(namespace) %></td>
    <td><%= link_to 'Destroy', namespace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Namespace', new_namespace_path %>
