<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @namespace.name %>
</p>

<p>
  <b>Section:</b>
  <%= "#{@namespace.section.name} (#{@namespace.section.path})" %>
</p>


<%= link_to 'Edit', edit_namespace_path(@namespace) %> |
<%= link_to 'Back', namespaces_path %>
