<%= f.cms_text_field :name %>
<%= namespaces_drop_down(f) %>
<%= f.cms_file_field :file, :label => "File", :instructions=>"Select a file to upload.", edit_path: true, edit_section: true %>
<%= f.cms_tag_list %>


